.tabs {
    position: relative;

    .tab-modile-btn {
        display: none;
        padding: 8px 20px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 1px 0 #fff, 0 0 0 1px $c-border;
        font-weight: bold;

        span {
            margin-right: 10px;
        }

        &.active {
            svg {
                transform: rotate(180deg);
            }
        }

        @media (max-width: $mobile-max) {
            display: flex;
        }
    }

    .tab-header-wrap {
        display: flex;
        padding: 0 1px;
        transition: opacity 0.15s ease-out, visibility 0.15s ease-out;

        @media (max-width: $mobile-max) {
            position: absolute;
            top: 41px;
            width: 100%;
            z-index: 1000;
            flex-direction: column;
            opacity: 0;
            visibility: hidden;

            &.open {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .tab-header {
        padding: 8px 20px;
        font-weight: bold;
        transition: color 0.2s linear;

        &.active {
            box-shadow: 0 1px 0 #fff, 0 0 0 1px $c-border;
        }

        &:not(.active) {
            cursor: pointer;

            &:hover {
                color: $c-highlight;
            }
        }

        @media (max-width: $mobile-max) {
            background-color: #f8f8f8;
            border: 1px solid $c-border;

            &.active {
                box-shadow: none;
            }
        }
    }

    .tab-content-wrap {
        border: 1px solid $c-border;
    }

    .tab-content {
        padding: 30px 20px;

        &:not(.active) {
            display: none;
        }
    }

    .tab-img-wrap {
        overflow: hidden;
        max-height: 500px;
    }

    .tab-img {
        max-width: none;
        position: relative;
        transition: all 0.4s ease-out;
    }

    .tab-img-drag {
        cursor: move;
    }

    .tab-img-hover {
        cursor: crosshair;
    }
}
