body {
    min-height: 100vh;
    font-family: $font-main;
    font-size: 16px;
    line-height: 1.5;
    color: $c-text-main;

    display: flex;
    flex-direction: column;
}

a {
    color: $c-link-main;
    transition: color 0.2s linear;

    &:hover {
        color: $c-link-hover;
    }
}

.wrap {
    background-color: #fff;
    padding: 0 calc((100% - 300px) / 2);

    @media (min-width: $tablet-min) {
        padding: 0 calc((100% - 720px) / 2);
    }

    @media (min-width: $desktop-min) {
        padding: 0 calc((100% - 1200px) / 2);
    }
}

.header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: inset 0 -1px 0 $c-border;
    position: fixed;
    width: 100%;
    max-height: 160px;
    z-index: 10000;
    transition: max-height 0.4s ease-in-out;

    &--fixed {
        max-height: 70px;
    }

    @media (max-width: $mobile-max) {
        justify-content: space-between;
        align-items: center;
        max-height: 70px;
    }

    &-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        @media (min-width: $tablet-min) {
            margin-right: 40px;
            width: 200px;
        }

        @media (min-width: $desktop-min) {
            width: 300px;
        }

        svg {
            display: block;
            margin: 0 auto;
            width: 150px;
            height: 120px;
            fill: $c-highlight;
            transition: width 0.4s ease-in-out;

            &.decreaseWidth {
                width: 50px;
            }

            @media (max-width: $mobile-max) {
                width: 50px;
                height: 40px;
            }
        }
    }

    &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        position: relative;
        z-index: 200;

        span {
            width: 22px;
            height: 3px;
            background-color: #222;
            transition: all 0.3s;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 22px;
            height: 3px;
            background-color: #222;
            transition: all 0.3s;
        }

        &::before {
            top: 14px;
        }

        &::after {
            bottom: 14px;
        }

        &.active {
            span {
                transform: scale(0);
            }
            &::before {
                top: 48%;
                transform: rotate(-45deg);
            }
            &::after {
                top: 48%;
                transform: rotate(45deg);
            }
        }
    }

    &-nav {
        align-self: center;
        flex-grow: 1;

        @media (max-width: $mobile-max) {
            position: fixed;
            top: 70px;
            left: 50%;
            transform: translateX(-50%);
            width: 300px;
            background-color: #f8f8f8;
            visibility: hidden;
            opacity: 0;
            transition: all 0.2s ease-in;

            &.active {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &-menu {
        display: flex;

        &-item {
            flex: 1 0 0;
            text-align: center;

            &:not(:first-child) {
                box-shadow: inset 1px 0 0 $c-border;
            }

            @media (max-width: $mobile-max) {
                a {
                    display: block;
                    padding: 20px 0;
                }
                &:not(:first-child) {
                    box-shadow: none;
                    border-top: 1px solid $c-border;
                }
            }
        }

        @media (max-width: $mobile-max) {
            flex-direction: column;
            border: 1px solid $c-border;
            border-top: none;
        }
    }
}

.main {
    display: flex;
    flex-grow: 1;

    padding-top: 160px;
    transition: padding 0.4s ease-in-out;

    &.balancePadding {
        padding-top: 70px;
    }

    &-sidebar {
        @media (min-width: $tablet-min) {
            flex-shrink: 0;
            margin-right: 40px;
            padding: 20px;
            border-left: 1px solid $c-border;
            border-right: 1px solid $c-border;
        }

        @media (max-width: $tablet-max) {
            width: 200px;
        }

        @media (min-width: $desktop-min) {
            width: 300px;
        }
    }

    &-content {
        order: 1;
        flex-grow: 1;
        padding: 20px 0;
        max-width: 860px;

        @media (max-width: $tablet-max) {
            max-width: 508px;
        }

        @media (max-width: $mobile-max) {
            max-width: 300px;
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: 1px solid $c-border;

    &-copyright {
        margin-left: 20px;
    }
}

h1 {
    margin-bottom: 32px;
}

p {
    margin-bottom: 16px;
}

ul:not([class]) {
    li {
        margin-top: 1em;
    }
}

code {
    display: inline-block;
    vertical-align: baseline;
    padding: 0 0.25em;
    background-color: $c-bg-gray;
    border-radius: 0.125em;
}
